Debug/
Release/
Debug Library/
Release Library/
x86/
x64/
*.exe
*.user
*.sdf
*.pdb
*.ipdb
*.iobj
*.suo
*.VC.opendb
*.VC.db
*.vcxproj
*.vcxproj.filters
bin/msdf-atlas-gen
bin/*.lib
output.png
out/
build/
